[run]
branch = true
omit =
    */tests/*,
    */migrations/*,
    */urls.py,
    */settings/*,
    */wsgi.py,
    */apps.py,
    */admin.py,
    */settings.py,
    */asgi.py,
    */__init__.py,
    manage.py,
    fabfile.py
source = .

[report]
show_missing = true