{% load static %}
<div id="hero-area" class="hero-area-bg">
<div class="container my-2">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                <button type="button" class="close" data-dismiss="alert"></button>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endif %}
</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                <div class="contents">
                    <h2 class="head-title">App, Business & SaaS<br>Landing Page Template</h2>
                    <p>Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá. Cevadis im
                        ampola pa arma uma pindureta. Nullam volutpat risus nec leo commodo, ut interdum diam laoreet.
                        Sed non consequat odio. Detraxit consequat et quo num tendi nada.</p>
                    <div class="header-button">
                        <a href="#" class="btn btn-common">Download Now</i></a>
                        <a href="#" class="btn btn-border video-popup">Learn More</i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <div class="intro-img">
                    <img class="img-fluid" src="{% static 'img/intro-mobile.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
</header>